@import "tailwindcss";
.graph-component-container {
  position: relative;
}
  
.popup {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
  
.popup-header h3 {
  margin: 0;
  font-size: 16px;
}
  
.chart-placeholder {
  width: 200px;
  height: 100px;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
}
  
.tooltip {
  height: 200px;
  width: 200px;
  font-size: 18px;
  background: rgba(247, 247, 247, 0.8);
  color: rgb(9, 7, 7); 
  padding: 5px 10px; 
  border-radius: 6px;
  border: 2px solid #070404; 
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tooltip-img {
  max-width: 150px;
  max-height: 150px;
  display: block;
  margin-bottom: 8px;
  background-blend-mode: color;
  overflow: hidden;
}

.tooltip-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  text-align: left;
}

.tooltip-table th,
.tooltip-table td {
  border: 0.2px solid #130d0d;
  padding: 6px;
}
